services:
  
  mysql_artech_server:
    container_name: mysql_artech_server
    #image: mysql
    build: 
      context: ../mysql/
      dockerfile: ./Dockerfile.mysql
    environment:
      # MYSQL_DATABASE: artech
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    #volumes:
      # - mysql-volume:/var/lib/mysql
      #- ./mysql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    
  
