services:
  
  mysql_artech123:
    container_name: mysql_artech123
    #image: yan22345/artech-database:1.0.0
    build: 
      context: .
      dockerfile: ./Dockerfile.mysql
    environment:
      # MYSQL_DATABASE: artech
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    #volumes:
      # - mysql-volume:/var/lib/mysql
      #- ./mysql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    
  
