apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: artech
spec:
  selector:
    matchLabels:
      app: mysql 
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          resources:
            requests:
              cpu: 10m
            limits:
              cpu: 100m
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: root
            
          volumeMounts:
            - name: initdb
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: initdb
          configMap:
            name: mysql-init-scripts
            items: # Removivel
            - key: "init.sql" # Removivel
              path: "init.sql" # Removivel
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: artech
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mysql
